<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571599438765-37r1uks1d1msp2rprjqbe4lqutgj4jpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571599438765-37r1uks1d1msp2rprjqbe4lqutgj4jpj</string>
	<key>API_KEY</key>
	<string>AIzaSyCgNG8RpNfwx-ABrZVnzF7Pz8MTO8pLiEc</string>
	<key>GCM_SENDER_ID</key>
	<string>571599438765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseExample</string>
	<key>PROJECT_ID</key>
	<string>cs-1635-example</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-1635-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571599438765:ios:4d881abc6051229cf55724</string>
</dict>
</plist>